*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#carousesec{
	width:100%;
	
}
.carousel-inner img{
	width:100%;
	height:100vh;
}
#accordionsec{
	width:100%;
	padding-top:30px;

}
.accordion-container{
	width:90%;
	margin:auto;
	text-align:center;
	
}
#accordionFlushExample{
	width:90%; 
	margin:auto;
	
}
#portfoliosec{
	width:100%;
	padding-top:30px;
}
.portfolio-container{
	width:90%;
	margin:auto;
}